.title {
    font-size: 24px;
  }
  
  .titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  
  //ฉบับร่าง
  .head {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    // text-decoration: underline;
  }
  
  // ฟอร์ม
  .formBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .leftBox {
    flex: 1;
    display: flex;
    // background-color: coral;
  }
  
  .inLeftBox1 {
    width: 100px;
    text-align: end;
    // background-color: aqua;
  }
  
  .inLeftBox2 {
    flex: 1;
    text-align: start;
    // background-color: aquamarine;
    margin-right: 10px;
  }
  
  .rightBox{
    width: 250px;
    display: flex;
    justify-content: right;
  }

  // ฟอร์ม
  .createBox {
    display: flex;
    margin: 10px 10px;
    // justify-content: space-between;
    // align-items: center;
  }
  
  .titleCreate {
    text-align: end;
    padding-right: 10px;
    width: 110px;
  }
  
  .inputCreate {
    flex: 1;
    display: flex;
    width: 100%;
    // text-align: end;
    // background-color: aqua;
  }
